:root {
    --red: #951615;
    --pink: #9B504C;
    --orange: #BB5A34;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.menuBar {
    background: linear-gradient(to right,#270909, #951615, #BB5A34);
    border: solid 2px #9B504C;

    height: 80px;
    width: 100%;

    overflow: hidden;
}

.nameTitle {
    font-family: monospace;
    font-size: 30px;

    color: white;

    padding-top: 18px;
    padding-left: 18px;

    height: 50px;
    width: 50px;

    position: absolute;
}

.profileButton {
    font-family: monospace;
    font-size: 20px;

    color: white;

    top: 28px;
    left: 200px;

    height: 40px;
    width: 90px;

    position: absolute;
}

.officialButton {
    font-family: monospace;
    font-size: 20px;

    color: white;

    padding-top: 28px;
    padding-left: 350px;

    height: 50px;
    width: 150px;

    position: absolute;
}

.fanButton {
    font-family: monospace;
    font-size: 20px;

    color: white;

    padding-top: 28px;
    padding-left: 550px;

    height: 50px;
    width: 100px;

    position: absolute;
}

#BarFlame {
    filter: saturate(120%);

    height: 120%;
    transform: scale(2, 1);

    margin-left: 90%;
    
    object-fit: contain;
}

.imageContainer {
    height: 250px;
    width: 250px;

    padding-left: 80px;
    padding-top: 80px;

    z-index: 2;
}

.imageContainer .frame {
    height: 250px;
    width: 250px;
    background-color: #270909;
    border-radius: 3px;
    position: relative;
    transition: 0.4s;
}

.imageContainer .frame::before,
.imageContainer .frame::after {
    --anime:0deg;
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--anime), var(--red), var(--orange), var(--pink), var(--red));
    animation: animate 5s linear infinite;
    z-index: -1;
}

.imageContainer .frame::before {
    transition: 0.6s;
}

@property --anime {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animate {
    0% {
        --anime: 0deg;
    }
    100% {
        --anime: 360deg;
    }
}