body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

:root {
    --darkred: #270909;
    --red: #951615;
    --pink: #9B504C;
    --orange: #BB5A34;
    --turquoise: #11435E;
}

/* Removes default cursor*/
* {
    cursor: none !important;
}

.custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    pointer-events: none;
}

.custom-cursor img {
    max-width: 100%;
    max-height: 100%;
}

.custom-cursor.active {
    width: 57px;
    height: 57px;
}

body:has(a:hover) #FlameCursor {
    filter: drop-shadow(2px 0 0 #f35831) 
        drop-shadow(0 2px 0 #f35831)
        drop-shadow(-2px 0 0 #f35831) 
        drop-shadow(0 -2px 0 #f35831);
  }

.menuBar {
    background: linear-gradient(to right,#270909, #951615, #BB5A34);
    border-bottom: solid 2px var(--red);

    height: 80px;
    width: 100%;

    overflow: hidden;
}

.nameTitle {
    font-family: monospace;
    font-size: 30px;

    color: #e9e2dd;

    padding-top: 18px;
    padding-left: 18px;

    height: 50px;
    width: 50px;

    position: absolute;
}

.profileButton {
    font-family: monospace;
    font-size: 20px;
    text-align: center;

    color: #e9e2dd;
    border: solid 2px #5f2112;
    border-radius: 3px 3px;
    padding: 5px 5px;

    margin-top: 20px;
    margin-left: 185px;

    height: 25px;
    width: 90px;

    position: absolute;
}

.profileButton:hover{
    border: solid 2px #9e422b;
    background-color: #195779;
}

.officialButton {
    font-family: monospace;
    font-size: 20px;
    text-align: center;

    color: #e9e2dd;
    border: solid 2px rgb(117, 43, 24);
    border-radius: 3px 3px;
    padding: 5px 5px;

    margin-top: 20px;
    margin-left: 350px;

    height: 25px;
    width: 150px;

    position: absolute;
}

.officialButton:hover{
    border: solid 2px #ac4830;
    background-color: #195779;
}

.fanButton {
    font-family: monospace;
    font-size: 20px;
    text-align: center;

    color: #e9e2dd;
    border: solid 2px rgb(129, 49, 29);
    border-radius: 3px 3px;
    padding: 5px 5px;

    margin-top: 20px;
    margin-left: 575px;

    height: 25px;
    width: 100px;

    position: absolute;
}

.fanButton:hover{
    border: solid 2px #bd5237;
    background-color: #195779;
}

#BarFlame {
    filter:hue-rotate(-12deg);

    height: 100%;
    transform: scale(1.1, 1);

    margin-left: 75%;
    
    object-fit: contain;
}

.slide-right-box {
    position: absolute;

    animation: slide-right 2s ease-out;
    animation-fill-mode: forwards;
}

.imageContainer {
    height: 250px;
    width: 250px;

    padding-left: 60px;
    padding-top: 60px;

    z-index: 2;
}

.imageContainer .frame {
    height: 270px;
    width: 270px;
    background-color: #270909;
    border-radius: 3px;
    position: relative;
    transition: 0.4s;
}

.imageContainer .frame::before,
.imageContainer .frame::after {
    --anime:0deg;
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-image: conic-gradient(from var(--anime), var(--red), var(--orange), var(--pink), var(--red));
    animation: animate 5s linear infinite;
    z-index: -1;
}

.imageContainer .frame::before {
    transition: 0.1s;
}

#JiaoqiuPortrait {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@property --anime {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animate {
    0% {
        --anime: 0deg;
    }
    100% {
        --anime: 360deg;
    }
}

p a{
    color: #9B504C;
}

.paragraph1 {
    width:100%;
    overflow:hidden;
    position: absolute;
    top: 35%;
    padding-left: 360px;
}

.paragraph1 p {
    font-family: monospace;
    font-size: 15px;

    color: white;
}

@keyframes slide-right {
    from {
    margin-left: -72%;
    width: 300%;
}

    to {
    margin-left: 0%;
    width: 100%;
}
}